
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



<main id="main" class="main">
    @ViewBag.t

    <form action="/San/Create" method="post">
        Mã Sân
        <input type="text" name="MASAN" />
        <br />
        Tên Sân
        <input type="text" name="TENSAN" />
        <br />
        Địa Chỉ
        <input type="text" name="DIACHI" />
        <br />
        <button type="submit"> gửi </button>

    </form>
    <div>
        @Html.ActionLink("Quay lại", "Index")
    </div>
</main>
