@model XML.Models.SAN
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



<main id="main" class="main">
    <form style="margin-top:100px;" action="/San/Edit" method="post">

        Mã Sân
        <input type="hidden" name="MASAN" />
        <br />
        Tên Sân
        <input type="text" name="TENSAN" />
        <br />
        Địa Chỉ
        <input type="text" name="DIACHI" />
        <br />

        <button type="submit"> Sửa </button>
    </form>
    <div>
        @Html.ActionLink("Quay lại", "Index")
    </div>
</main>
